<nb-card [formGroup]="form" [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="info">
  <nb-card-header class="py-2">
    {{titulo}} transferencia
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputFirstName" class="label-default">Fecha</label><br>
          <input nbInput
                 formControlName="date_aux"
                 placeholder="Fecha"
                 [nbDatepicker]="formpicker">
          <nb-datepicker #formpicker [format]="'MM/DD/YYYY'"></nb-datepicker>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputFirstName" class="label-default">Monto</label>
          <input type="number" nbInput formControlName="amount" fullWidth id="inputFirstName" placeholder="0.00">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label class="label-default">Descripción</label>
          <textarea rows="5" nbInput fullWidth shape="round" placeholder="Comentarios..."
                    formControlName="description"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="label-default">Cuenta origen</label>
          <nb-select placeholder="Elije una opción" formControlName="bill_expense" fullWidth
                     (selectedChange)="getCuentaOrigenSeleccionada()">
            <nb-select-label *ngIf="cuentaOrigenSeleccionada">
              <fa-icon [icon]="cuentaOrigenSeleccionada.icon" class="mr-1"></fa-icon>
              {{cuentaOrigenSeleccionada.name}}
            </nb-select-label>
            <nb-option [value]="cuenta.id" *ngFor="let cuenta of cuentas">
              <fa-icon [icon]="cuenta.icon" class="mr-1"></fa-icon>
              {{cuenta.name}}
            </nb-option>
          </nb-select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="label-default">Cuenta destino</label>
          <nb-select placeholder="Elije una opción" formControlName="bill_income" fullWidth
                     (selectedChange)="getCuentaDestinoSeleccionada()">
            <nb-select-label *ngIf="cuentaDestinoSeleccionada">
              <fa-icon [icon]="cuentaDestinoSeleccionada.icon" class="mr-1"></fa-icon>
              {{cuentaDestinoSeleccionada.name}}
            </nb-select-label>
            <nb-option [value]="cuenta.id" *ngFor="let cuenta of cuentas">
              <fa-icon [icon]="cuenta.icon" class="mr-1"></fa-icon>
              {{cuenta.name}}
            </nb-option>
          </nb-select>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer class="text-right">
    <button class="cancel mr-2" nbButton status="basic" (click)="cancel()">Cancelar</button>
    <button nbButton status="info" [disabled]="form.invalid" (click)="submit()">Guardar</button>
  </nb-card-footer>
</nb-card>
