// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

$nb-enable-css-custom-properties: true;
$success: #28a745;
$danger: #dc3545;
$info: #17a2b8;
$primary: #598bff;
$nb-themes: nb-register-theme((
  sidebar-padding: 0,
  icon-success-color: $success,
  button-outline-success-border-color: $success,
  button-outline-success-text-color: $success,
  button-outline-success-hover-border-color: $success,
  button-outline-success-hover-text-color: $success,
  button-outline-success-focus-border-color: $success,
  button-outline-success-focus-text-color: $success,
  button-outline-success-active-border-color: $success,
  button-outline-success-active-text-color: $success,
  icon-danger-color: $danger,
  button-outline-danger-border-color: $danger,
  button-outline-danger-text-color: $danger,
  button-outline-danger-hover-border-color: $danger,
  button-outline-danger-hover-text-color: $danger,
  button-outline-danger-focus-border-color: $danger,
  button-outline-danger-focus-text-color: $danger,
  button-outline-danger-active-border-color: $danger,
  button-outline-danger-active-text-color: $danger,
  icon-info-color: $info,
  button-outline-info-border-color: $info,
  button-outline-info-text-color: $info,
  button-outline-info-hover-border-color: $info,
  button-outline-info-hover-text-color: $info,
  button-outline-info-focus-border-color: $info,
  button-outline-info-focus-text-color: $info,
  button-outline-info-active-border-color: $info,
  button-outline-info-active-text-color: $info,
  button-ghost-success-text-color:$success,
  button-ghost-success-hover-text-color:$success,
  button-ghost-danger-hover-text-color:$danger,
  button-ghost-danger-text-color:$danger,
  button-ghost-info-hover-text-color:$info,
  button-ghost-info-text-color:$info,
  toastr-icon-success-color:$success,
  toastr-destroyable-hover-success-border-color:$success,
  toastr-destroyable-hover-success-background-color:$success,
  toastr-success-background-color:$success,
  toastr-success-border-color:$success,
  checkbox-success-hover-checked-border-color: $success,
  checkbox-success-hover-checked-background-color: $success,
  checkbox-success-checked-background-color: $success,
  checkbox-success-checked-border-color: $success,
  checkbox-success-border-color: $success,
  button-filled-success-hover-border-color:$success,
  button-filled-success-border-color:$success,
  button-filled-success-hover-background-color: $success,
  button-filled-success-background-color: $success,
  checkbox-danger-hover-checked-border-color: $danger,
  checkbox-danger-hover-checked-background-color: $danger,
  checkbox-danger-checked-background-color: $danger,
  checkbox-danger-checked-border-color: $danger,
  checkbox-danger-border-color: $danger,
  button-filled-danger-hover-border-color:$danger,
  button-filled-danger-border-color:$danger,
  button-filled-danger-hover-background-color: $danger,
  button-filled-danger-background-color: $danger,
  button-filled-info-hover-border-color:$info,
  button-filled-info-border-color:$info,
  button-filled-info-hover-background-color: $info,
  button-filled-info-background-color: $info,
  layout-padding-top: 2.25rem,
  menu-item-icon-margin: 0 0.5rem 0 0,
  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,
  select-min-width: 6rem,
  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), default, default);

$nb-themes: nb-register-theme((
  sidebar-padding: 0,
  icon-success-color: $success,
  button-outline-success-border-color: $success,
  button-outline-success-text-color: $success,
  button-outline-success-hover-border-color: $success,
  button-outline-success-hover-text-color: $success,
  button-outline-success-focus-border-color: $success,
  button-outline-success-focus-text-color: $success,
  button-outline-success-active-border-color: $success,
  button-outline-success-active-text-color: $success,
  icon-danger-color: $danger,
  button-outline-danger-border-color: $danger,
  button-outline-danger-text-color: $danger,
  button-outline-danger-hover-border-color: $danger,
  button-outline-danger-hover-text-color: $danger,
  button-outline-danger-focus-border-color: $danger,
  button-outline-danger-focus-text-color: $danger,
  button-outline-danger-active-border-color: $danger,
  button-outline-danger-active-text-color: $danger,
  icon-info-color: $info,
  button-outline-info-border-color: $info,
  button-outline-info-text-color: $info,
  button-outline-info-hover-border-color: $info,
  button-outline-info-hover-text-color: $info,
  button-outline-info-focus-border-color: $info,
  button-outline-info-focus-text-color: $info,
  button-outline-info-active-border-color: $info,
  button-outline-info-active-text-color: $info,
  button-ghost-success-text-color:$success,
  button-ghost-success-hover-text-color:$success,
  button-ghost-danger-hover-text-color:$danger,
  button-ghost-danger-text-color:$danger,
  button-ghost-info-hover-text-color:$info,
  button-ghost-info-text-color:$info,
  toastr-icon-success-color:$success,
  toastr-destroyable-hover-success-border-color:$success,
  toastr-destroyable-hover-success-background-color:$success,
  toastr-success-background-color:$success,
  toastr-success-border-color:$success,
  checkbox-success-hover-checked-border-color: $success,
  checkbox-success-hover-checked-background-color: $success,
  checkbox-success-checked-background-color: $success,
  checkbox-success-checked-border-color: $success,
  checkbox-success-border-color: $success,
  button-filled-success-hover-border-color:$success,
  button-filled-success-border-color:$success,
  button-filled-success-hover-background-color: $success,
  button-filled-success-background-color: $success,
  checkbox-danger-hover-checked-border-color: $danger,
  checkbox-danger-hover-checked-background-color: $danger,
  checkbox-danger-checked-background-color: $danger,
  checkbox-danger-checked-border-color: $danger,
  checkbox-danger-border-color: $danger,
  button-filled-danger-hover-border-color:$danger,
  button-filled-danger-border-color:$danger,
  button-filled-danger-hover-background-color: $danger,
  button-filled-danger-background-color: $danger,
  button-filled-info-hover-border-color:$info,
  button-filled-info-border-color:$info,
  button-filled-info-hover-background-color: $info,
  button-filled-info-background-color: $info,
  layout-padding-top: 2.25rem,
  menu-item-icon-margin: 0 0.5rem 0 0,
  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,
  select-min-width: 6rem,
  slide-out-background: #252547,
  slide-out-shadow-color: 2px 0 3px #29157a,
  slide-out-shadow-color-rtl: -2px 0 3px #29157a,
), cosmic, cosmic);

$nb-themes: nb-register-theme((
  sidebar-padding: 0,
  icon-success-color: $success,
  button-outline-success-border-color: $success,
  button-outline-success-text-color: $success,
  button-outline-success-hover-border-color: $success,
  button-outline-success-hover-text-color: $success,
  button-outline-success-focus-border-color: $success,
  button-outline-success-focus-text-color: $success,
  button-outline-success-active-border-color: $success,
  button-outline-success-active-text-color: $success,
  icon-danger-color: $danger,
  button-outline-danger-border-color: $danger,
  button-outline-danger-text-color: $danger,
  button-outline-danger-hover-border-color: $danger,
  button-outline-danger-hover-text-color: $danger,
  button-outline-danger-focus-border-color: $danger,
  button-outline-danger-focus-text-color: $danger,
  button-outline-danger-active-border-color: $danger,
  button-outline-danger-active-text-color: $danger,
  icon-info-color: $info,
  button-outline-info-border-color: $info,
  button-outline-info-text-color: $info,
  button-outline-info-hover-border-color: $info,
  button-outline-info-hover-text-color: $info,
  button-outline-info-focus-border-color: $info,
  button-outline-info-focus-text-color: $info,
  button-outline-info-active-border-color: $info,
  button-outline-info-active-text-color: $info,
  button-ghost-success-text-color:$success,
  button-ghost-success-hover-text-color:$success,
  button-ghost-danger-hover-text-color:$danger,
  button-ghost-danger-text-color:$danger,
  button-ghost-info-hover-text-color:$info,
  button-ghost-info-text-color:$info,
  toastr-icon-success-color:$success,
  toastr-destroyable-hover-success-border-color:$success,
  toastr-destroyable-hover-success-background-color:$success,
  toastr-success-background-color:$success,
  toastr-success-border-color:$success,
  checkbox-success-hover-checked-border-color: $success,
  checkbox-success-hover-checked-background-color: $success,
  checkbox-success-checked-background-color: $success,
  checkbox-success-checked-border-color: $success,
  checkbox-success-border-color: $success,
  button-filled-success-hover-border-color:$success,
  button-filled-success-border-color:$success,
  button-filled-success-hover-background-color: $success,
  button-filled-success-background-color: $success,
  checkbox-danger-hover-checked-border-color: $danger,
  checkbox-danger-hover-checked-background-color: $danger,
  checkbox-danger-checked-background-color: $danger,
  checkbox-danger-checked-border-color: $danger,
  checkbox-danger-border-color: $danger,
  button-filled-danger-hover-border-color:$danger,
  button-filled-danger-border-color:$danger,
  button-filled-danger-hover-background-color: $danger,
  button-filled-danger-background-color: $danger,
  button-filled-info-hover-border-color:$info,
  button-filled-info-border-color:$info,
  button-filled-info-hover-background-color: $info,
  button-filled-info-background-color: $info,
  layout-padding-top: 2.25rem,
  menu-item-icon-margin: 0 0.5rem 0 0,
  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,
  select-min-width: 6rem,
  slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), corporate, corporate);

$nb-themes: nb-register-theme((
  sidebar-padding: 0,
  icon-success-color: $success,
  button-outline-success-border-color: $success,
  button-outline-success-text-color: $success,
  button-outline-success-hover-border-color: $success,
  button-outline-success-hover-text-color: $success,
  button-outline-success-focus-border-color: $success,
  button-outline-success-focus-text-color: $success,
  button-outline-success-active-border-color: $success,
  button-outline-success-active-text-color: $success,
  icon-danger-color: $danger,
  button-outline-danger-border-color: $danger,
  button-outline-danger-text-color: $danger,
  button-outline-danger-hover-border-color: $danger,
  button-outline-danger-hover-text-color: $danger,
  button-outline-danger-focus-border-color: $danger,
  button-outline-danger-focus-text-color: $danger,
  button-outline-danger-active-border-color: $danger,
  button-outline-danger-active-text-color: $danger,
  icon-info-color: $info,
  button-outline-info-border-color: $info,
  button-outline-info-text-color: $info,
  button-outline-info-hover-border-color: $info,
  button-outline-info-hover-text-color: $info,
  button-outline-info-focus-border-color: $info,
  button-outline-info-focus-text-color: $info,
  button-outline-info-active-border-color: $info,
  button-outline-info-active-text-color: $info,
  button-ghost-success-text-color:$success,
  button-ghost-success-hover-text-color:$success,
  button-ghost-danger-hover-text-color:$danger,
  button-ghost-danger-text-color:$danger,
  button-ghost-info-hover-text-color:$info,
  button-ghost-info-text-color:$info,
  toastr-icon-success-color:$success,
  toastr-destroyable-hover-success-border-color:$success,
  toastr-destroyable-hover-success-background-color:$success,
  toastr-success-background-color:$success,
  toastr-success-border-color:$success,
  checkbox-success-hover-checked-border-color: $success,
  checkbox-success-hover-checked-background-color: $success,
  checkbox-success-checked-background-color: $success,
  checkbox-success-checked-border-color: $success,
  checkbox-success-border-color: $success,
  button-filled-success-hover-border-color:$success,
  button-filled-success-border-color:$success,
  button-filled-success-hover-background-color: $success,
  button-filled-success-background-color: $success,
  checkbox-danger-hover-checked-border-color: $danger,
  checkbox-danger-hover-checked-background-color: $danger,
  checkbox-danger-checked-background-color: $danger,
  checkbox-danger-checked-border-color: $danger,
  checkbox-danger-border-color: $danger,
  button-filled-danger-hover-border-color:$danger,
  button-filled-danger-border-color:$danger,
  button-filled-danger-hover-background-color: $danger,
  button-filled-danger-background-color: $danger,
  button-filled-info-hover-border-color:$info,
  button-filled-info-border-color:$info,
  button-filled-info-hover-background-color: $info,
  button-filled-info-background-color: $info,
  layout-padding-top: 2.25rem,
  menu-item-icon-margin: 0 0.5rem 0 0,
  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,
  select-min-width: 6rem,
  slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), dark, dark);

h6, .h6 {
  font-weight: var(--text-heading-6-font-weight) !important;
}

.mbsc-mobiscroll .mbsc-fr-btn {
  //color: $primary;
}

.mbsc-mobiscroll .mbsc-sc-whl-l {
  //border-color: $primary;
}

nb-card {
  //margin-bottom: 0 !important;
}

nb-dialog-container {
  overflow: auto;
}




