<nb-card [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="info">
  <nb-card-header class="pb-0 border-bottom-0">
    <span>Ingresos</span>
    <button (click)="openCrud(null)" nbButton outline status="success" class="mr-1 float-right" [size]="'small'">
      <nb-icon icon="plus-circle-outline" pack="eva"></nb-icon>
      Agregar
    </button>
  </nb-card-header>
  <nb-card-body>
    <div class="table-responsive ">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col" class="text-basic" (click)="setOrder('name')">Nombre
            <app-icon-order [name]="'received'" [key]="key" [reverse]="reverse"></app-icon-order>
          </th>
          <th scope="col" class="text-basic text-center">Icono
          </th>
         <!-- <th scope="col" class="text-basic">Color
          </th>-->
          <th scope="col" [width]="200" class="text-basic text-center">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of data | orderBy:key:reverse">
          <td class="text-basic p-0 pl-2 pt-2">{{item.name}}</td>
          <td class="p-0 pl-2 pt-2 text-center">
            <fa-icon [icon]="item.icon" class="img-thumbnail" [size]="'lg'"></fa-icon>
          </td>
         <!-- <td class="p-0 pl-2 pt-2">
            <span [ngStyle]="{'color': item.color}" class="mr-2">
            &lt;!&ndash;<fa-icon [icon]="item.bill.icon" class="img-thumbnail" [size]="'lg'"></fa-icon>&ndash;&gt;
            </span>
            <span class="text-basic">{{item.color || 'N/A'}}</span>
          </td>-->
          <td class="text-center py-1">
            <button (click)="openCrud(item)" nbButton status="basic" class="mr-1" [size]="'tiny'">
              <nb-icon icon="edit-outline" pack="eva"></nb-icon>
            </button>
            <button (click)="deleteE(item.id)" nbButton status="basic" [size]="'tiny'">
              <nb-icon icon="trash-outline" pack="eva"></nb-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <!--<pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>-->
    </div>

  </nb-card-body>
</nb-card>
