<div class="row">
  <div class="text-center col-12 mb-3">
    <button nbButton outline status="info" [size]="'small'">
      <nb-icon icon="arrow-ios-back" (click)="preMonth()"></nb-icon>
    </button>
    <input nbInput
           placeholder="Fecha"
           mbsc-date
           [(ngModel)]="dateNow"
           (onSet)="setMonth($event)"
           [mbsc-options]="month_onlySettings">
    <button nbButton outline status="info" [size]="'small'">
      <nb-icon icon="arrow-ios-forward" (click)="nextMonth()"></nb-icon>
    </button>
  </div>
  <div class="col-xxxl-4 col-md-4">
    <nb-card class="bg-success" [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="info">
      <div class="icon-container">
        <div class="icon">
          <nb-icon icon="trending-up-outline" pack="eva"></nb-icon>
        </div>
      </div>
      <div class="details">
        <div class="title h6 text-white">{{montos.month.incomes| currency:'MXN'}}</div>
        <div class="status paragraph-2 text-white">Ingresos</div>
      </div>
    </nb-card>
  </div>
  <div class="col-xxxl-4 col-md-4">
    <nb-card class="bg-danger" [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="info">
      <div class="icon-container">
        <div class="icon">
          <nb-icon icon="trending-down-outline" pack="eva"></nb-icon>
        </div>
      </div>
      <div class="details">
        <div class="title h6 text-white">{{montos.month.expenses | currency:'MXN'}}</div>
        <div class="status paragraph-2 text-white">Gastos</div>
      </div>
    </nb-card>
  </div>
  <div class="col-xxxl-4 col-md-4">
    <nb-card class="" [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="info">
      <div class="icon-container bg-info">
        <div class="icon">
          <fa-icon [icon]="'file-invoice-dollar'" [size]="'3x'"></fa-icon>
        </div>
      </div>
      <div class="details">
        <div class="title h6">{{saldo | currency:'MXN'}}</div>
        <div class="status paragraph-2">Saldo</div>
      </div>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-md-4" *ngFor="let cuentas of montos.bills">
    <nb-card [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="info">
      <div class="icon-container bg-primary">
        <div class="icon bg-primary">
          <fa-icon [icon]="cuentas.icon" [size]="'2x'"></fa-icon>
        </div>
      </div>
      <div class="details">
        <div class="title h6">{{cuentas.total | currency:'MXN'}}</div>
        <div class="status paragraph-2">{{cuentas.name}}</div>
      </div>
    </nb-card>
  </div>
</div>
